html{
  margin: 0;
}

body {
  margin-top: -0.1%;
  margin-left: -0.5%;
}

main{
  margin: 2% 0% 3% 17%;
  float: left;
}

section{
  margin-top: 1.3%;
  margin-right: 45%;
  padding-left: 1%;
  border-color: black;
  border-style: solid;
  border-radius: 10px;
  border-width: thick;
  float: left;
  background-color: lightgreen;
  font-size: 170%;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #00cc00;
  position: fixed;
  height: 100%;
  font-size: 140%;
  text-align: center;
  z-index: 1;
}

#menu li a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: black;
}

#menu ul{
  display: none;
}

#menu li:hover:not(.active) ul{
  list-style: none;
  display: inline-block;
  position: absolute;
  padding: 1% 0.5%;
  background-color: #00aa00;
  left: 100%;
  margin-top: -10%;
}

#menu li:hover:not(.active){
  background-color: lightgreen;
}

table {
  border-width: thick;
  background-color: green;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  font-size: 200%;
  margin-top: 5%;
  margin-left: 17%;
  margin-bottom: 3%;
  float: left;
}

td{
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

.header {
  padding: 1.5%;
  text-align: center;
  background-image: url("afbeeldingen/banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(43, 255, 0);
  margin-left: 15%;
  font-size: 250%;
}

aside {
  margin-left: 65%;
  margin-right: 5%;
  margin-top: 3%;
  padding-left: 1%;
  background-color: lightgreen;
  font-size: 170%;
  border-style: solid;
  border-radius: 10px;
  border-width: thick;
  float: right;
  position: absolute;
  margin-bottom: 3%;
}

aside h1 {
  text-align: center;
}

footer {
  text-align: center;
  height: 4%;
  background-color:#00cc00;
  width: 98,5%;
  padding: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1% 0 0 0
}

.fling-minislide{
  width:90%;
  height:90%;
}

.fling-minislide img{ 
  position:absolute; 
  animation:fling-minislide 20s infinite; 
  opacity:0; 
  width: auto; 
  height: 70%;
  margin-bottom: 3%;
  margin-right: 3%;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}} 
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}
