body {
  margin: 0;
}

header {
  margin: 0;
}

html {
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #00cc00;
  position: absolute;
  height: 100%;
  font-size: 140%;
  text-align: center;
  overflow: hidden;
}

#menu li a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: static;
  display: block;
  color: black;
}

#menu ul{
  list-style: none;
  display: inline-block;
  position:static;
  overflow: auto;
  padding: 0% 0% 0% 0%;
  background-color: pink;
}

#menu li:hover:not(.active){
  background-color: lightgreen;
}

footer {
  text-align: center;
  height: 4%;
  background-color:#00cc00;
  width: 98,5%;
  padding: auto;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
}
