html{
  margin: 0;
}

body {
  margin-top: -0.1%;
  margin-left: -0.5%;
}

main{
  margin: 2% 0% 3% 17%;
  float: left;
}

#menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 13%;
  background-color: #00cc00;
  position: fixed;
  height: 100%;
  font-size: 140%;
  text-align: center;
}

#menu li a{
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  color: black;
}

#menu ul{
  display: none;
}

#menu li:hover:not(.active) ul{
  list-style: none;
  display: inline-block;
  position: absolute;
  padding: 0% 0% 0% 0%;
  background-color: pink;
  left: 100%;
  margin-top: -10%;
}

#menu li:hover:not(.active){
  background-color: lightgreen;
}

table {
  border-width: thick;
  background-color: green;
  border-style: solid;
  border-radius: 10px;
  border-color: black;
  font-size: 200%;
  margin-top: 5%;
  margin-left: 17%;
  margin-bottom: 3%;
  float: left;
}

td{
  text-align: center;
  background-color: lightgreen;
  border-style: solid;
  border-radius: 1px;
  border-color: black;
}

.header {
  padding: 1.5%;
  text-align: center;
  background-image: url("afbeeldingen/banner.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  color: rgb(43, 255, 0);
  margin-left: 15%;
  font-size: 250%;
}

aside {
  margin-left: 65%;
  margin-right: 5%;
  margin-top: 5%;
  background-color: lightgreen;
  font-size: 170%;
  border-style: solid;
  border-radius: 10px;
  border-width: thick;
  float: right;
  position: absolute; 
}

aside h1 {
  text-align: center;
}

footer {
  text-align: center;
  height: 4%;
  background-color:#00cc00;
  width: 98,5%;
  padding: auto;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  margin: 1% 0 0 0
}
